
/* css CONTACTO */
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   
}
.arriba{
    margin-top: 1rem;
    margin-left: 4rem;
}
 .contenedor-contactanos{
    display: inline-block;
    margin-left: 3rem;
    margin-right: 1rem;

} 
.img-login{
    background-image: url(/Royal.jpg);
    background-size: cover;
    background-position: center; 
    width: 35em;
  }
.mb-3{
    align-items: flex-end;
}
.cuadnom{
    width: 35rem;
}
.mail{
    width: 35rem;
}
.mensaje{
    width: 35rem;
    height: 13rem;
    padding-bottom: 180px;
}
.oso{
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.segundocont{
   display: inline-block;
   position:absolute;
   right: 200px;
   top: 240px;
}

 .boton-contactanos{
    background-color: rgb(1, 247, 1);
    color: white;
    border-color: limegreen;
} 
.boton-contactanos:hover{
    background-color: white;
    color: black;
    border-color: whitesmoke;
}
@media screen and (max-width:1000px){
   .arriba{
    flex-direction: column;
    margin-left: 6rem;
   }
    .cuadnom{
        flex-direction: column;
        width: 20rem;
        padding: 0;
        
    }
    .mail{
        flex-direction: column;
        width: 20rem;
        padding: 0;
        
    }
    .mensaje{
        flex-direction:column;
       width: 20rem;
        height: 15rem;
        padding-bottom: 220px; 
       
    }
.oso{
    display:none;
   /*  position:absolute;
    top: 700px;
    left: 30px;
   width: 5rem;
   height: 5rem;
   border-radius: 1em; */
}
 .container{
        margin-right: 1rem;
    }
    
}