/* css CONTACTO */
<<<<<<< HEAD
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
   
}
=======

>>>>>>> Anapau
.arriba{
    margin-top: 1rem;
    margin-left: 4rem;
}
<<<<<<< HEAD
 .contenedor-contactanos{
=======
.conten{
>>>>>>> Anapau
    display: inline-block;
    margin-left: 3rem;
    margin-right: 1rem;

} 
.img-login{
    background-image: url(/Royal.jpg);
    background-size: cover;
    background-position: center; 
    width: 35em;
  }
.mb-3{
    align-items: flex-end;
}
.cuadnom{
    width: 35rem;
}
.mail{
    width: 35rem;
}
.mensaje{
    width: 35rem;
    height: 13rem;
    padding-bottom: 180px;
}
#osito{
   border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
   /*  margin-top: 2em;  */
   /*  width: 350px;
    height: 350px;  */
  /*   height: auto; */

   
    
  /*  display: inline-block;
   width:150px;
  height:150px; */
  /* float: right; */
} 
.segundocont{
   display: inline-block;
   position:absolute;
   right: 200px;
<<<<<<< HEAD
<<<<<<< HEAD
   top: 240px;
}

 .boton-contactanos{
    background-color: rgb(1, 247, 1);
    color: white;
    border-color: limegreen;
} 
.boton-contactanos:hover{
=======
   top: 245px;
=======
   top: 230px;
>>>>>>> Anapau
}

#benvio{
    background-color: rgb(1, 247, 1);
    color: white;
    border-color: limegreen;
    margin-bottom: 1em;
}
#benvio:hover{
>>>>>>> Anapau
    background-color: white;
    color: black;
    border-color: whitesmoke;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
/* css footer */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
/* fin css footer */
=======

>>>>>>> Anapau
.warnings{
    width: 150px;
    text-align: center;
    margin: auto;
    color: rgb(126, 126, 126);
    padding-top: 15px;
}
<<<<<<< HEAD
>>>>>>> Anapau
@media screen and (max-width:1000px){
=======
@media screen and (max-width:820px){
>>>>>>> Anapau
   .arriba{
    flex-direction: column;
     margin-left: 1rem; 
   }
    .cuadnom{
        flex-direction: column;
        width: 20rem;
        padding: 0;
        
    }
    .mail{
        flex-direction: column;
        width: 20rem;
        padding: 0;
        
    }
    .mensaje{
        flex-direction:column;
       width: 20rem;
        height: 15rem;
        padding-bottom: 220px; 
       
    }
.oso{
    display:none;
    height: auto;
   /*  position:absolute;
    top: 700px;
    left: 30px;
   width: 5rem;
   height: 5rem;
   border-radius: 1em; */
}
 .conten{
        margin-right: 1rem;
    }

.form{
    margin-left: 3em;
}
    
}