.body{
  font-weight: 300; 
  color: white !important;}

.form-control, .btn{
  min-height: 1.5rem;
  line-height: initial;
}

.img-login{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/gettyimages-1369898014.jpg?crop=0.669xw:1.00xh;0.230xw,0&resize=640:*);
  background-size: cover;
  background-position: center;
}

.btn-primary{
  font-size: 1.3rem;
  background-color: #57CE45;
  border: 0px;
}
.btn-primary{
  display: inline-block;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.btn-primary:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.login{
  margin-top: 50px;
}

.warnings{
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
}