h1{
    margin-top: 1.5rem;
}
.navbar{
    background-color: #57CE45;
}
.prod{
    background-color:gray;
    margin-right: 2%;
    padding-bottom: 20vh;

}
.btn-primary{
    background-color: #57CE45;
    border: none;
}
aside{
    width: auto;
    background-color: gray;
    
}
.cant{
    padding-bottom: 20px;
}
.pay{
margin-top: 2%;    
}
.boton{
    margin-top: 2%;       
}
.btn-lg{
    width: 100%;
}
.comprar{
    size-adjust:inherit;
}
