body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: 50px;
}
.pie-pagina{
    width: 100%;
    background-color: #57CE45;
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: 2%;
}

.pie-pagina .grupo1{
  width: auto;
  height: 143px;
  margin: 10px;  
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px 0px;
  text-align: center;
}

.pie-pagina .grupo1 .box1{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.pie-pagina .grupo1 .box2{
align-items: center;
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.facelogo{
    width: 40px;
   height: 40px;
}

.logoinsta{
    width: 40px;
   height: 40px;
   margin-left:3em;
   margin-right:3em;
}

.logotwi{
    width: 40px;
   height: 40px;
}


.pie-pagina .grupo1 .box3 p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 10px;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    letter-spacing: -0.08em;
    
}
.pie-pagina .grupo1 .box3 h2{
    text-align: center;
}

.pie-pagina .grupo2{
    text-align: center;
    font-family: 'Sansation';
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}

.link {
    box-shadow: inset 0 0 0 0 #000000;
    color: #000000;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
  }
  .link:hover {
    box-shadow: inset 100px 0 0 0 #000000;
    color: rgb(255, 255, 255);
  }



@media screen and (max-width: 750px) {
    .box3,.link-legal{
    display:none;
}
    .link{
        font-size: 0px;
        resize: horizontal;
    }


}
@media screen and (max-width: 850px) {
    .box3{
        font-size: 8px;
    }}
