.pie-pagina{
    width: 100%;
    background-color: #57CE45;
}

.pie-pagina .grupo1{
  width: 1200px;
  height: 143px;
  margin: 10px;  
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px 0px;
}
.pie-pagina .grupo1 .box1{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;

}

.pie-pagina .grupo1 .box2 h2{
   margin-top: 98px; 
}

.pie-pagina .grupo1 .box2 .social{
    display: flex;
    text-decoration: none ;
    width: 40px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 46.71%;
    right: 52.43%;
    top: 10.02%;
    bottom: 20.33%;

    
}

.pie-pagina .grupo1 .box3 p{
    justify-content: right;
    margin-bottom: 2px;
    margin-right: 0px;
    font-style: normal;
    font-size: 20px;
    line-height:5px;
    align-items: center;
    text-align: center;
    letter-spacing:-0.04em
}
.pie-pagina .grupo1 .box3 h2{
    text-align: center;
}

.pie-pagina .grupo2{

    text-align: center;
}
